<div class="main container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>Lundi</td>
                    <td>Mardi</td>
                    <td>Mercredi</td>
                    <td>Jeudi</td>
                    <td>Vendredi</td>
                    <td>Samedi</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08h30 à 10h00</td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10h10 à 11h40</td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11h50 à 13h20</td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>14h30 à 16h00</td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>16h10 à 17h40</td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p> 
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hessa">
                            <div class="matiere">
                                <p>Web 3.0</p>
                            </div>
                            <div class="enseignant">
                                <p>Mariem JERIDI</p>
                            </div>
                            <div class="salle">
                                <p>SI 03</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
