<div class="main container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Nom Prenom</td>
                    <td>CIN</td>
                    <td>Email</td>
                    <td>Présence</td>
                </tr>
                <tr>
                    <td>Essayes Med Wajih</td>
                    <td>14039270</td>
                    <td>wajihsayes&#64;gmail.com</td>
                    <td><div class="radio-input">
                        <label>
                          <input type="radio" id="value-1" name="14039270-radio" value="1" checked/>
                          <span>Présent</span>
                        </label>
                        <label>
                          <input type="radio" id="value-2" name="14039270-radio" value="2" />
                          <span>Absent</span>
                        </label>
                        <span class="selection"></span>
                      </div>
                      </td>
                </tr>
                <tr>
                    <td>Youssef Degachi</td>
                    <td>12345678</td>
                    <td>youssef.degachi&#64;gmail.com</td>
                    <td><div class="radio-input">
                        <label>
                          <input type="radio" id="value-1" name="12345678-radio" value="1" checked/>
                          <span>Présent</span>
                        </label>
                        <label>
                          <input type="radio" id="value-2" name="12345678-radio" value="2" />
                          <span>Absent</span>
                        </label>
                        <span class="selection"></span>
                      </div>
                      </td>
                </tr>
                <tr>
                    <td>Yassine Jrad</td>
                    <td>87654321</td>
                    <td>yassine.jrad&#64;gmail.com</td>
                    <td><div class="radio-input">
                        <label>
                          <input type="radio" id="value-1" name="87654321-radio" value="1" checked/>
                          <span>Présent</span>
                        </label>
                        <label>
                          <input type="radio" id="value-2" name="87654321-radio" value="2" />
                          <span>Absent</span>
                        </label>
                        <span class="selection"></span>
                      </div>
                      </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-primary float-end" type="submit">Save</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>