<div class="main container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Matière</td>
                    <td>Enseignant</td>
                    <td>NM d'absences</td>
                    <td>Nombre d'Absences</td>
                </tr>
                <tr>
                    <td>Web 3.0</td>
                    <td>Mariem JERIDI</td>
                    <td>3</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>DevOps</td>
                    <td>Haithem HAFSI</td>
                    <td>6</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>SpringBoot</td>
                    <td>Wahid HAMDI</td>
                    <td>6</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Dev Mobile</td>
                    <td>Maher RHOUMA</td>
                    <td>6</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>